
$primary-color: #1a73e8;
$secondary-color: #333;
$background-color: #f4f4f4;
$font-family: 'Arial', sans-serif;

body {
    font-family: $font-family;
    background-color: $background-color;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1 {
    color: $secondary-color;
}

p {
    font-size: 1.2em;
    color: darken($secondary-color, 20%);
}

#date, #holiday-us, #holiday-nl, #holiday-kz, #quote {
    font-weight: bold;
    color: $primary-color;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 600px;
    width: 100%;
}
